In [2]:
import requests
from bs4 import BeautifulSoup
url = 'https://www.medicaltravel.org.tw/Case-List.aspx?position=0&l=1&p=31&name=&meds='
r = requests.get(url)
sp = BeautifulSoup(r.text,'html.parser')
p

In [4]:
pip install selenium

Requirement already satisfied: selenium in c:\users\winni\anaconda3\envs\rstudio\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\winni\anaconda3\envs\rstudio\lib\site-packages (from selenium) (1.26.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from selenium import webdriver
#高鐵時刻表查詢

url = ('https://www.thsrc.com.tw/')
ss = '桃園站' #出發站
es = '嘉義站' #抵達站
dd = '2020/12/25'#日期
dt = '14:00' #時間
#建立瀏覽物件開啟網頁
driver = webdriver.Chrome()
driver.get(url)
#輸入出發站
driver.find_element_by_id('select_location01').send_keys(ss)
#輸入抵達站
driver.find_element_by_id('select_location02').send_keys(es)
#輸入日期
diver.find_element_by_id('Departdate01').click()
diver.find_element_by_id('Departdate01').send_keys(dd)
#輸入時間
diver.find_element_by_id('outWardTime').click()
diver.find_element_by_id('outWardTime').send_keys(dt)
diver.find_element_by_id('button').click() #按查詢按

NameError: name 'diver' is not defined

In [10]:
content = '''Hello python
中文測試
Welcome'''
with open('filel.text','w',encoding = 'utf-8',newline='') as f:
    f.write(content)

In [1]:
import pandas as pd

In [2]:
dict1 = {'a':100,'b':200,'c':300,'d':400}
se = pd.Series(dict1)
print(se)
print(se.values)
print(se.index)

a    100
b    200
c    300
d    400
dtype: int64
[100 200 300 400]
Index(['a', 'b', 'c', 'd'], dtype='object')

In [4]:
se = pd.Series([1,2,3,4,5])
print(se[2])
print('-'*6)
print(se[2:5])

3
------
2    3
3    4
4    5
dtype: int64

In [12]:
pf= pd.DataFrame([[65,92,78,83,70],
             [90,72,76,93,56],
             [81,85,91,89,77],
             [79,53,47,94,80]],
        index=['王小明','李小美','陳大同','林小玉'],
        columns=['國文','英文','數學','自然','社會'])
print(pf)

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  77
林小玉  79  53  47  94  80

In [14]:
scores = {'國文':{'王小明':65,'李小美':90,'陳大同':81,'林小玉':79}}
df = pd.DataFrame(scores)
print(df)

     國文
李小美  90
林小玉  79
王小明  65
陳大同  81

In [17]:
pf[pf['國文']>=90]

     國文  英文  數學  自然  社會
李小美  90  72  76  93  56

In [18]:
pf.values

array([[65, 92, 78, 83, 70],
       [90, 72, 76, 93, 56],
       [81, 85, 91, 89, 77],
       [79, 53, 47, 94, 80]], dtype=int64)

In [22]:
pf.loc[['林小玉','李小美'],['國文','社會']]

     國文  社會
林小玉  79  80
李小美  90  56

In [23]:
pf.sort_values(by='數學',ascending=False)

     國文  英文  數學  自然  社會
陳大同  81  85  91  89  77
王小明  65  92  78  83  70
李小美  90  72  76  93  56
林小玉  79  53  47  94  80

In [27]:
pf.loc['王小明']['數學']=80
print(pf)

     國文  英文  數學  自然  社會
王小明  65  92  80  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  77
林小玉  79  53  47  94  80

In [33]:
pf.drop(pf.index[1:4])

     國文  英文  數學  自然  社會
王小明  65  92  80  83  70